$color1:black;
$color2: #2f3640;
$color3: #34495e;
$color4: #3498db;
$color5:white;
$color6:rgba(20, 33, 61, 1);
$color7:#cde7f9;

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Montserrat;
}


//========================================================================
//           Navigation Bar
//========================================================================

nav{
    height: 80px;
    width: 100%;
    background-color: $color3;
}
label #logo{
    font-size: 35px;
    font-weight: bold;
    color: $color5;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
color: $color5;
font-size: 18px;
border: 1px solid transparent;
padding: 7px 10px;
border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid $color5;
    transition: .1s;
}
#logo:hover{
  cursor: pointer;
  border: none;
}
nav #icon{
    color:$color5;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

//Responsive----------------------------------------------------------------------------

@media (max-width:1048px){
  label #logo{
    font-size: 32px;
    padding-left: 60px;
}
nav ul{
    margin-right: 20px;
}
nav a{
    font-size: 17px;
}
}
//----------------------------------------------------------------

@media (max-width:909px){
nav #icon{
    display: block;
   margin-right: 35px;
}
nav{
  width: 100%;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $color2;
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
}
nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav a{
    font-size: 20px;
}
a.active,a:hover{
    border: none;
    color: $color4;
}
nav ul.show{
    left:0;
}
}
@media (max-width:376px){
  nav #icon{
      line-height: 80px;
  }
}
@media (max-width:321px){
  nav #icon{
   margin-right: 30px;
}}
//-------------------------------------------------------------

@media (max-width:321px){
nav #icon{
   margin-right: 30px;
}}

//========================================================================
//           contend Section
//========================================================================

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:$color6;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  /* --------------------------------------- form area-------------------------------- */
  .web-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .form-area {
    width: 30%;
    height: fit-content;
    background-color:$color5;
    margin: 5%;
    border: 3px solid $color4;
    border-radius: 20px;
  }
  .form-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .input-feild {
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
  }
  .inpt {
    background-color: $color7;
    font-size: 18px;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color3;
    padding: 0px;
    margin-bottom: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .button-sec {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .button {
    width: 250px;
    font-size: 18px;
    color: $color1;
    text-align: center;
    font-weight: 600;
    background-color:$color4;
    border: 1px solid $color2;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;

  }
  .mgbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #dd{
    height: 20%;
    padding:10%;
// justify-content: center;
// margin: 20px;
  }
  .button:hover{
    background-color: $color6;
    color: $color5;
  }

  #ab{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .abc{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }
.xy{
    width: 100px;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.search{
    width: 500px;
    padding: 1%;
    border-radius: 10px;

}

  /* -----------------------------table area--------------------- */
  .table-area {
    width: 96%;
  }
  table {
    color: $color5;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
  }
  td,
  th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid $color5;
    padding: 7px;
  }


 //Responsive--------------------------------------------------------------------
 /* --------------------------------form area--------------------- */
 @media (max-width:909px){
    .form-area {
      width: 100%;
      margin-left: 20%;
      margin-right: 20%;

    }

    /* -----------------------------table area--------------------- */
    .table-area {
      #o, #p, #q, #r{
        display: none;
      }
      #c, #d, #e, #f{
        display: none;
      }
    }

    .mgbtn{
      flex-direction: column;
    }

  }

  //--------------------------------------------------------------------------
  @media (max-width:426px){
    .form-area {
      width: 100%;
      margin: 10px;
    }
    .web-content {

      margin-top: 8%;
    }
    .table-area {
      #l, #o, #p, #q, #r{
        display: none;
      }
    }
  }
