* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Montserrat;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #34495e;
}

label #logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a {
  color: white;
  font-size: 18px;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active, a:hover {
  border: 1px solid white;
  -webkit-transition: .1s;
  transition: .1s;
}

#logo:hover {
  cursor: pointer;
  border: none;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
  label #logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
    margin-right: 35px;
  }
  nav {
    width: 100%;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  a.active, a:hover {
    border: none;
    color: #3498db;
  }
  nav ul.show {
    left: 0;
  }
}

@media (max-width: 376px) {
  nav #icon {
    line-height: 80px;
  }
}

@media (max-width: 321px) {
  nav #icon {
    margin-right: 30px;
  }
}

@media (max-width: 321px) {
  nav #icon {
    margin-right: 30px;
  }
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #14213d;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* --------------------------------------- form area-------------------------------- */
.web-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.form-area {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 5%;
  border: 3px solid #3498db;
  border-radius: 20px;
}

.form-title {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 0px;
}

.input-feild {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
}

.inpt {
  background-color: #cde7f9;
  font-size: 18px;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #34495e;
  padding: 0px;
  margin-bottom: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.button {
  width: 250px;
  font-size: 18px;
  color: black;
  text-align: center;
  font-weight: 600;
  background-color: #3498db;
  border: 1px solid #2f3640;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}

.mgbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dd {
  height: 20%;
  padding: 10%;
}

.button:hover {
  background-color: #14213d;
  color: white;
}

#ab {
  margin-top: 10px;
  margin-bottom: 10px;
}

.abc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
}

.xy {
  width: 100px;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.search {
  width: 500px;
  padding: 1%;
  border-radius: 10px;
}

/* -----------------------------table area--------------------- */
.table-area {
  width: 96%;
}

table {
  color: white;
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}

td,
th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  padding: 7px;
}

/* --------------------------------form area--------------------- */
@media (max-width: 909px) {
  .form-area {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
  }
  /* -----------------------------table area--------------------- */
  .table-area #o, .table-area #p, .table-area #q, .table-area #r {
    display: none;
  }
  .table-area #c, .table-area #d, .table-area #e, .table-area #f {
    display: none;
  }
  .mgbtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 426px) {
  .form-area {
    width: 100%;
    margin: 10px;
  }
  .web-content {
    margin-top: 8%;
  }
  .table-area #l, .table-area #o, .table-area #p, .table-area #q, .table-area #r {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */